<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelAddIn1.Properties.Settings.WebPeExcelConnectionString"
            connectionString="Data Source=WIN-710JDEA3E18;Initial Catalog=WebPeExcel;Persist Security Info=True;User ID=sa;Password=Itdn2010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>